# Node.js
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn_error.log*
.pnp/
.pnp.js

# Compile files
/dist/
/build/
/out/

# IEDs and other ignored files
# Use double asterisks to find these folders anywhere
**/.vscode/
**/target/
**/.idea/
**/*.iml
**/application.yml

# Angular specific
.angular/

# Java specific (for your Javalin app)
target/      # Maven build output
*.jar
*.war
*.class
hs_err_pid*